<!DOCTYPE html>
<html lang="en">
  <!-- ============ HEADER ============ -->
  <%- include ('../partials/header.ejs') %>  

  <a id="link" href="/designs/inProjects">Back to Industrial Design Style</a>

<body>
    
    <h1>Industrial Furniture</h1>
    
    <p class="prodInf"> A trend born out of necessity in the 1960s that still thrives today.  <br>
        * Brick walls, pipes, and steel structures are left exposed to deliberately contribute to a dramatic effect. <br>
        * Patinated wood, weathered leather, and rough concrete create a relaxed, worn-in look with a masculine edge. <br>
        * If you don’t want to forgo comfort, you can tweak things with pelts and colored velvet cushions in dark shades of rust, green, or blue.<br>
        * For splashes of color, add no-fuss plants such as cacti, colorful glassware, or an old Persian rug or tin signs from flea market visits. <br> 
    </p>
   
    <ul>
        <% for(let i=0; i < industrials.length; i++) { %>
    <div class="container4" >
        <div class="img-collage4">
                <a href="/industrial/<%=industrials[i].id;%>"><img src="<%=industrials[i].image;%>"id="imgs4"></a>
                <a class="product" href="/industrial/<%=industrials[i].id; %>">
                    <%=industrials[i].title;%></a><br>
         </div>
    </div>  
        <% } %>
    </ul>

    <a href="/industrial/new"><button>Add Product</button></a>


 <!-- ============ FOOTER ============ -->
 <%- include ('../partials/footer.ejs') %>

</body>
</html>