
<!DOCTYPE html>
  <!-- ============ HEADER ============ -->
  <%- include ('../partials/header.ejs') %>  

<body>
    <a id="link" href="/designs/mediProjects">Back to Mediterranean Style</a>
    <h1>Mediterranean Furniture</h1>
    
    <p  class="prodInf">Though not exhaustive, many Mediterranean-style homes will make use of the following design motifs: <br>
        * Textured walls, often stucco on the exterior with plaster walls or stone walls on the interior <br>
        * Red terra-cotta roofs <br>
        * Archways <br>
        * Decorative ironwork, often wrought iron <br>
        * Eclectic tiles <br>
        * A color scheme inspired by the sea including blue, green, yellow, red, orange, and other earthy tones <br>
        * Exposed beams<br>
        * Outdoor spaces to emphasize indoor-outdoor living<br>
        * Plenty of natural light <br>
        * Displayed Mediterranean decor, like ceramics and textiles<br>
    </p>



    <ul>
        <% for(let i=0; i < mediterraneans.length; i++) { %>

    <div class="container4" >
    <div class="img-collage4">
              
        <!-- <li> -->
                <!-- <p class="medT" <%=mediterraneans[i].id; %>><%=mediterraneans[i].description; %></p>  -->
                <a href="/mediterranean/<%=mediterraneans[i].id;%>"><img src="<%=mediterraneans[i].image;%> "id="imgs4"></a> 
                <a class="product" href="/mediterranean/<%=mediterraneans[i].id; %>"> 
                    <%=mediterraneans[i].title;%></a><br>
    </div>
    </div>
        <% } %>
    </ul>

    <a href="/mediterranean/new"><button>Add Product</button></a>


   <!-- ============ FOOTER ============ -->
   <%- include ('../partials/footer.ejs') %>

</body>
</html>